<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel = "stylesheet" type = "text/css" href = "other template.css">
    
</head>
<body>
    <header>
        <!--Name of Coffee Brand-->
        <h1>Cafe Kitsune</h1>
        <!--Navigation-->
        <nav>
            <!--Unlisted Order-->
            <ul>
                <!--list,anchor, put link, label-->
                <li><a href = "index.html">Home</a></li>
                <li><a href = "#">Menu</a></li>
                <li><a href = "about.html">About Us</a></li>
                <li><a href = "#">Contact Us</a></li>
                <li><a href = "kitsune musique.html">Kitsune Musique</a></li>
                <li><a href = "#">Login</a></li>
                <li><a heref = "#">Career</a></li>
            </ul>
        </nav>
    </header>
    
    <footer>
        <!--&copy is basically copyright symbol-->
        <nav>
            <ul>
                <li><a href="https://www.facebook.com/cafekitsuneparis/"target ="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/kitsune"target="_blank">Twitter</a></li>
                <li><a href="https://www.instagram.com/cafekitsune/" target="_blank">Instagram</a></li>
                <li><a href="https://www.tiktok.com/@cafekitsune?lang=en" target="_blank">Tik Tok</a></li>
            </ul>
        </nav>
        <p>&copy 2023 Cafe Kitsune. All rights reserved</p>
    </footer>

</body>
</html>