*{
    margin: 0;
    padding: 0;
    
}
/*body*/ 
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
}
/*header*/
header{
    background-color: whitesmoke;
    padding: 20px;
    box-shadow: 0 2px 4px rgba (0,0,0,0.1);
}
/*H1*/
h1{
    font-size: 30px;
    color: #333;
    margin : 0;
    margin-bottom: 20px;

}
/*header nav*/
nav{
    margin-top: 10px;
}
/*nav uordered list*/
nav ul{
    list-style: none;
    display: flex;
}
/*nav list*/
nav li{
    margin: auto;
    
}
/*nav anchor*/
nav a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    
}
/*nav anchor hover*/
nav a:hover{
    color: #ed6335;
}

/*Main*/
main {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #f5f5f5;
}

/*section id = "banner"*/ 
#banner{
    text-align: center;
    margin-bottom: 40px;
}
/*Banner h2*/
#banner h2{
    font-size: 36px;
    color:#064c72;
    margin-bottom: 20px;
}
/*Banner p*/
#banner p{
    font-size:20px;
    color: #333;
    margin-bottom:30px;
}
/*Banner Button*/
#banner .btn{
    background-color: #8db4ad;
    color:#fff;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    text-decoration : none;
}
/*Banner Button hover*/
#banner.btn:hover{
background-color: #fff;
color: #8db4ad;
border: 2px solid #8db4ad;
}

/*section id="special"*/
#special{
margin-bottom: 50px;
height: auto;
padding: 50px 0;
background-color: #f5f5f5;
}

/*special h2*/
#special h2 {
font-size: 36px;
color: #064c72;
margin-bottom: 20px;
}

/*special ul*/
#special ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/*special li*/
#special li{
    width: 30%;
    box-shadow: 0 2px 4px rgba (0,0,0,0.1);
    border-radius:5px;
    margin-bottom: 30px;
}
/*special li image*/
#special li img{
    width: 100%;
    height: auto;
}
/*special li h3*/
#special li h3{
font-size: 24px;
color: #333;
margin-bottom: 10px;
background-color: #f5cb5c;
text-align: center;
}
/*special li paragraph*/
#special li p{
    font-size: 16px;
    color: #333;
    margin: 10px; 
}
/*special li button*/
#special li .btn{
    background-color: #8db4ad;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    text-decoration : none;
}
/*section id = "menu"*/
#menu{
    text-align: center;
    padding: 80px 0;
    background-image: url('https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=761&q=80');
    background-color: center center;
    color: white;
}
/*menu h2*/
#menu h2{
    font-size: 48px;
    margin-bottom: 40px;

}
/*menu button*/
#menu .btn{
    background-color: #a7025a;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s ease;
}
/*<section id = "contact">*/
#contact {
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
}
/*contact h2*/
#contact h2{
    font-size: 36px;
    margin-bottom: 20px;
}
/*contact p*/
#contact p{
    font-size: 20px;
    margin-bottom: 30px;
}
/*contact btn*/
#contact .btn{
    background-color: #6f4e37;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
}
/*contact btn hover*/
#contact .btn:hover{
    background-color: #8c6243;
}
/*<footer>*/
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
}
/*footer*/
footer p{
    font-size: 14px;
    margin: 0;
}
/*footer nav ul*/
footer nav ul{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
/*footer nav li*/
footer nav li{
    margin: 0 10px;
}
/*footer nav a*/
footer nav a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease;
}
/*footer nav a:hover*/
footer nav a:hover{
    color: #ccc;
}