* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
header{
  background-color: #012d39;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}
/*H1*/
h1{
  font-size: 30px;
  font-size: 30px;
  color: #fafafa;
  text-align: center;
}
/*header nav*/
nav{
  margin-top: 10px;
}
/*nav uordered list*/
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
/*nav list*/

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fafafa;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}

nav ul li a:hover {
  /*color: #f7b731;*/
  text-decoration: line-through;
  text-decoration-color: #f7b731 ;
  text-decoration-thickness: 2px;

}


/*menu card*/
.card_grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card{
  width: 300px;
  height: 440px;
  margin: 50px;
  padding-bottom: 30px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 0;
  transition: grid-template-rows 0.8s;
  background-color: #f3e9e2;
  overflow: hidden;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.card:hover{
  grid-template-rows: 1fr 100px;
}

figcaption{
  color:rgb(0, 0, 0);
}

.name{
  margin: 0;
  padding: 1px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.detail{
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 1fr 1fr;
}

.description{
  margin: 0;
  padding-left: 5px;
  font-weight: 200;
  font-size: 16px;
  height: 58px;
}

.detail p{
  text-align: left;
  padding-left: 5px;
  padding-top: 7px;
  margin: 0px;
  font-weight: 500;
}

.btn{
  text-align: right;
  padding-right: 5px;
}

button{
  text-transform: uppercase;
  border: none;
  transition: 0.4s;
  background-color: #f28f5d; 
  color: #090909;  
  border-radius: 30px; 
  font-size: 16px;
  padding: 8px;
  font-weight: 500;
}
/*if use button need to use js & can use a also*/
button:hover{
  cursor: pointer;
  background-color: #f5b899;
  color:#090909;
}





