
.category_grid{
  display: grid;
  width: max-content;
  grid-template-columns: 1fr 5fr;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.category_grid h1{
  text-align: top;
  font-size: 40px;
}

.item{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

li{
  margin-right: 15px;
}

.list p{
  margin-top: 5px;
  font-weight: 500;
  font-size: 26px;
}

.list P:hover{
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.category_grid h1{
  display:block;
}