.category ul{
  justify-content: left;
  margin-top: 130px;
}

.category p{
  font-size: 26px;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease-in;
  border-width: 0;
  padding: 5px;
  font-weight: 500;
}

.category p:hover{
  color: #012d39;
  border-bottom: 2px solid #012d39;
  cursor: pointer;
}